html {
  scroll-behavior: smooth;
}

html,
header,
main,
.header-buttons-container,
.menu,
.menu-header,
.menu-icon,
.settings-container,
.colour-input-container,
.menu-button-container,
button,
.content,
#deleted-selected-book-button,
.deleted-books-option,
.add-book-container,
.add-book-input-container,
.information,
.information-box,
footer {
  display: flex;
}

html,
header,
.header-buttons-container,
.menu,
.colour-input-container,
button,
.content,
.deleted-books-option,
.add-book-input-container,
.information,
.information-box,
footer {
  align-items: center;
}

html,
.menu,
.menu-icon,
.menu-button-container,
.settings-container,
button,
.content,
.deleted-books-option,
.add-book-container,
.information,
.information-box {
  justify-content: center;
}

html,
body,
main,
h1,
input,
input[type="color"] {
  margin: 0;
}

html,
body,
main,
input[type="color"],
input[type="color"]::-webkit-color-swatch-wrapper,
.book-status {
  padding: 0;
}

html,
body,
main {
  height: 100%;
}

html,
body,
main,
.information-box,
footer {
  width: 100%;
}

html,
a,
button,
option,
.add-book-input,
.add-book-status-select {
  color: rgba(255, 255, 255, 1);
}

html,
button,
input,
option,
.add-book-status-select {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body,
thead,
tfoot,
.deleted-books-select,
.add-book-input,
.add-book-status-select,
.add-book-status-option {
  background-image: radial-gradient(
    circle at center,
    rgba(79, 69, 87, 1),
    rgba(57, 54, 70, 1)
  );
}

body,
header,
.settings-menu,
.restore-menu,
.deleted-books-menu,
.add-book-menu {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main,
.settings-container,
.content,
.menu,
.add-book-container,
.information {
  gap: 16px;
}

main,
.content,
.menu,
.menu-header,
.settings-container,
.add-book-container,
table,
.information-box {
  flex-direction: column;
}

header {
  border-bottom-color: rgba(0, 0, 0, 1);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-left: none;
  border-right: none;
  border-top: none;
  height: 50px;
  justify-content: space-around;
}

header,
.table-body-row,
.information-box,
.menu {
  background-image: radial-gradient(
    circle at center,
    rgba(109, 93, 110, 1),
    rgba(79, 69, 87, 1)
  );
}

header,
.menu {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

header,
.menu,
table,
option,
input,
.add-book-status-select,
.information-box {
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
}

header,
button,
.information-box {
  padding: 16px;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 36px;
}

h1,
.header-buttons,
.menu-icon,
input[type="color"],
button,
input,
select,
input:focus,
select:focus,
.book-alter-buttons,
.footer-buttons {
  transition: all 0.75s ease-in-out;
}

h1,
.menu-title,
#settings-menu,
#restore-warning,
button,
select,
option,
#add-book-menu,
input,
.information-box {
  font-weight: 900;
}

h1:hover,
input[type="color"]:hover,
button:hover,
.header-title-text:hover {
  transform: scale(1.05);
}

h1,
.header-title-text,
.book-status {
  color: rgba(227, 180, 100, 1);
}

.header-buttons-container,
.menu-button-container,
.information-box {
  gap: 8px;
}

.header-buttons,
.menu-icon {
  width: 36px;
}

.header-buttons,
.book-alter-buttons,
.footer-buttons,
.menu-icon {
  fill: rgba(227, 180, 100, 1);
}

h1:hover,
#settings-button:hover,
.menu-icon:hover,
#restore-button:hover,
#github-button:hover,
input:focus,
select:focus,
.book-alter-buttons:hover,
.footer-buttons:hover {
  filter: drop-shadow(0px 0px 1.6px rgba(227, 180, 100, 1));
  transform: scale(1.05);
}

.header-buttons,
.header-title-text,
input[type="color"],
button,
.book-status,
input[type="checkbox"],
.book-alter-buttons,
.footer-buttons,
.menu-icon,
select,
option {
  cursor: pointer;
}

.header-buttons:not(.github-button),
.book-alter,
.footer-buttons {
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.5));
}

.header-buttons:not(.github-button),
.menu-icon {
  height: 36px;
}

#settings-button {
  margin-right: -4px;
}

.menu {
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 6px;
}

.menu,
.deleted-books-select,
.information-box {
  border-radius: 20px;
}

.menu,
.colour-input-container,
.add-book-input-container {
  justify-content: space-between;
}

.menu-header {
  width: 100%;
}

.menu-icon {
  align-self: flex-end;
}

.menu-title {
  font-size: 20px;
}

.colour-input-container,
.add-book-input-container {
  gap: 32px;
}

input[type="color"] {
  background: none;
  border-radius: 50%;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 1);
  height: 35px;
  width: 35px;
}

input[type="color"],
input[type="color"]::-webkit-color-swatch,
button,
th,
td,
.deleted-books-select,
.add-book-input,
.add-book-status-select {
  border: none;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 50%;
}

button {
  height: 10px;
  width: 120px;
  text-shadow: 0px 1.5px 1.5px rgba(0, 0, 0, 1);
}

button,
.add-book-input,
.add-book-status-select {
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
}

button:hover {
  background-color: rgba(79, 69, 87, 1);
  border-color: rgba(109, 93, 110, 1);
  border-width: 2.5px;
  filter: drop-shadow(0px 0px 2px rgba(109, 93, 110, 1));
}

button:hover,
.table-body-row,
.deleted-books-select,
.information-box,
.table-body-row:hover,
input:focus,
select:focus {
  border-style: solid;
}

button,
table,
.menu,
#restore-menu,
table,
option,
.information-box {
  text-align: center;
}

button,
table,
.information-box {
  font-size: 16px;
}

button,
.add-book-status-option {
  background-color: rgba(57, 54, 70, 1);
}

#restore-title,
#restore-text {
  max-width: 300px;
}

.github-button {
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.2));
}

.github-button-container,
.github-button {
  height: 36.5px;
}

table {
  background-color: rgba(0, 0, 0, 1);
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 1);
  width: 1500px;
}

.table-body-row {
  border-color: rgba(0, 0, 0, 1);
}

.table-body-row,
.deleted-books-select {
  border-width: 1px;
}

.table-body-row:hover,
input:focus,
select:focus {
  border-color: rgba(227, 180, 100, 1);
  filter: drop-shadow(0px 0px 2px rgba(227, 180, 100, 1));
}

th,
td,
.information-box,
.settings-menu,
.restore-menu,
.deleted-books-menu,
.deleted-books-select,
.deleted-books-option,
.add-book-menu,
.add-book-input,
.add-book-status-select {
  padding: 8px;
}

input[type="checkbox"] {
  accent-color: rgba(0, 0, 0, 1);
  height: 14px;
  width: 14px;
}

.header-title-text,
.book-status {
  transition: all 0.3s ease-in-out;
}

.header-title-text:hover,
.book-status:hover {
  filter: drop-shadow(0px 0px 2px rgba(227, 180, 100, 1));
}

.book-status {
  height: 0;
  width: 0;
}

.deleted-books-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-color: transparent;
  height: auto;
  overflow: hidden;
  width: auto;
}

.deleted-books-select:focus,
input:focus,
select:focus {
  outline: none;
}

.deleted-books-select,
input {
  font-size: 14px;
}

.deleted-books-option {
  border-radius: 10px;
}

.add-book-input,
.add-book-status-select {
  height: 35px;
  width: 200px;
}

.add-book-input,
.add-book-status-select,
input:focus,
select:focus {
  box-sizing: border-box;
}

input:focus,
select:focus,
.information box {
  border-width: 2px;
}

input:focus,
select:focus {
  box-shadow: 0px 0px 3px rgba(227, 180, 100, 1);
}

input[type="date"] {
  cursor: text;
}

.select-checkbox {
  border: white;
  border-style: solid;
  border-width: 5px;
}

.book-alter-buttons,
.footer-buttons,
.github-logo {
  width: 24px;
}

.book-alter-buttons,
.footer-buttons {
  height: 24px;
}

#deleted-selected-book-button {
  padding-left: 16px;
}

.information {
  width: 1500px;
}

.information-box {
  border-color: rgba(255, 255, 255, 0.1);
  border-width: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  height: 50px;
}

.tracker {
  font-size: 24px;
}

footer {
  bottom: 0;
  left: 0;
  position: fixed;
  justify-content: flex-end;
}

.github-logo {
  height: 24.5px;
  opacity: 7%;
  padding-bottom: 3px;
  padding-left: 0px;
  padding-right: 3px;
  padding-top: 0px;
}

#colours {
  color: rgba(109, 93, 110, 1);
  color: rgba(79, 69, 87, 1);
  color: rgba(57, 54, 70, 1);
}

.test {
  align-items: center;
  display: flex;
  gap: 24px;
  justify-content: center;
}
