html {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

html,
header,
main,
.header-buttons-container,
content,
.information,
.information-box,
footer {
  display: flex;
}

html,
header,
.header-buttons-container,
content,
.information,
.information-box,
footer {
  align-items: center;
}

html,
content,
.information,
.information-box {
  justify-content: center;
}

html,
body,
main,
h1 {
  margin: 0;
}

html,
body,
main {
  padding: 0;
}

html,
body,
main {
  height: 100%;
}

html,
body,
main,
.information-box,
footer {
  width: 100%;
}

html,
a {
  color: rgba(255, 255, 255, 1);
}

body {
  background-image: radial-gradient(
    circle at center,
    rgba(0, 63, 122, 1),
    rgba(0, 53, 102, 1)
  );
}

body,
header {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main,
content,
.information {
  gap: 16px;
}

main,
content,
table {
  flex-direction: column;
}

header {
  background-image: radial-gradient(
    circle at center,
    rgba(0, 84, 163, 1),
    rgba(0, 74, 143, 1)
  );
  border-bottom-color: rgba(0, 0, 0, 1);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-left: none;
  border-right: none;
  border-top: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  height: 50px;
  justify-content: space-around;
  padding: 16px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
}

a {
  text-decoration: none;
}

h1 {
  font-size: 36px;
}

h1,
.header-buttons {
  transition: transform 1s ease;
}

h1:hover,
.header-buttons:hover {
  transform: scale(1.03);
}

.header-buttons-container {
  gap: 6px;
}

img {
  cursor: pointer;
}

.header-buttons {
  width: 36px;
}

.header-buttons:not(#github) {
  height: 36px;
}

.header-buttons {
  filter: brightness(0) invert(1);
}

#settings {
  margin-right: -4px;
}

#github {
  height: 36.5px;
  width: 36px;
}

table {
  background-color: black;
  width: 1500px;
}

table,
.information-box {
  text-align: center;
}

thead,
.information-box {
  background-color: rgba(0, 63, 122, 1);
}

th,
td,
.information-box {
  padding: 8px;
}

.table-body-row {
  background-color: rgba(0, 74, 143, 1);
}

.book-alter-icon {
  height: 24px;
  width: 24px;
}

.information {
  width: 1500px;
}

.information-box {
  height: 50px;
  font-size: 20px;
}

footer {
  bottom: 0;
  left: 0;
  position: fixed;
  justify-content: flex-end;
}

.github-logo {
  height: 24.5px;
  opacity: 7%;
  padding-bottom: 3px;
  padding-left: 0px;
  padding-right: 3px;
  padding-top: 0px;
  width: 24px;
}

#colours {
  color: rgba(0, 84, 163, 1);
  color: rgba(0, 74, 143, 1);
  color: rgba(0, 63, 122, 1);
  color: rgba(0, 53, 102, 1);
  color: rgba(255, 195, 0, 1);
  color: rgba(255, 214, 10, 1);
}
