html {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

html,
header,
main,
.header-buttons-container,
.content,
#deleted-selected-book-button,
.information,
.information-box,
footer {
  display: flex;
}

html,
header,
.header-buttons-container,
.content,
.information,
.information-box,
footer {
  align-items: center;
}

html,
.content,
.information,
.information-box {
  justify-content: center;
}

html,
body,
main,
h1,
input {
  margin: 0;
}

html,
body,
main {
  padding: 0;
}

html,
body,
main {
  height: 100%;
}

html,
body,
main,
.information-box,
footer {
  width: 100%;
}

html,
a,
h1 {
  color: rgba(255, 255, 255, 1);
}

body,
thead,
tfoot {
  background-image: radial-gradient(
    circle at center,
    rgba(79, 69, 87, 1),
    rgba(57, 54, 70, 1)
  );
}

body,
header {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main,
.content,
.information {
  gap: 16px;
}

main,
.content,
table,
.information-box {
  flex-direction: column;
}

header {
  border-bottom-color: rgba(0, 0, 0, 1);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-left: none;
  border-right: none;
  border-top: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  height: 50px;
  justify-content: space-around;
}

header,
.table-body-row,
.information-box {
  background-image: radial-gradient(
    circle at center,
    rgba(109, 93, 110, 1),
    rgba(79, 69, 87, 1)
  );
}

header,
.information-box {
  padding: 16px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
}

a {
  text-decoration: none;
}

h1 {
  font-size: 36px;
}

h1,
.header-buttons,
.book-alter-buttons,
.footer-buttons {
  transition: all 0.75s ease;
}

h1,
.information-box {
  font-weight: 900;
}

h1:hover,
.header-title-text:hover {
  transform: scale(1.05);
}

.header-buttons-container {
  gap: 6px;
}

.header-buttons {
  width: 36px;
}

.header-buttons,
.book-alter-buttons:hover,
.footer-buttons:hover {
  fill: rgba(255, 255, 255, 1);
}

#settings-button:hover,
#restore-button:hover,
#github-button:hover,
.book-alter-buttons:hover,
.footer-buttons:hover {
  filter: drop-shadow(0px 0px 1.6px rgba(255, 255, 255, 1));
  transform: scale(1.05);
}

.header-buttons,
.header-title-text:hover,
.book-status:hover,
input[type="checkbox"],
.book-alter-buttons,
.footer-buttons {
  cursor: pointer;
}

.header-buttons:not(.github-button),
.book-alter,
.footer-buttons {
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.5));
}

.header-buttons:not(.github-button) {
  height: 36px;
}

#settings-button {
  margin-right: -4px;
}

.github-button-container,
.github-button {
  height: 36.5px;
}

table {
  background-color: rgba(0, 0, 0, 1);
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 1);
  font-size: 16px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
  width: 1500px;
}

table,
.information-box {
  text-align: center;
}

th,
td {
  border: none;
}

th,
td,
.information-box {
  padding: 8px;
}

.header-title-text,
.book-status {
  color: rgba(227, 180, 100, 1);
  transition: all 0.2s ease;
}

.header-title-text:hover,
.book-status:hover {
  filter: drop-shadow(0px 0px 2px rgba(227, 180, 100, 1));
}

input[type="checkbox"] {
  accent-color: rgba(0, 0, 0, 1);
  height: 14px;
  width: 14px;
}

.book-alter-buttons,
.footer-buttons,
.github-logo {
  width: 24px;
}

.book-alter-buttons,
.footer-buttons {
  height: 24px;
}

.book-alter-buttons,
.footer-buttons {
  fill: rgba(109, 93, 110, 1);
}

.github-button {
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.2));
}

.information {
  width: 1500px;
}

.information-box {
  border-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  gap: 8px;
  height: 50px;
}

.tracker {
  font-size: 24px;
}

footer {
  bottom: 0;
  left: 0;
  position: fixed;
  justify-content: flex-end;
}

.github-logo {
  height: 24.5px;
  opacity: 7%;
  padding-bottom: 3px;
  padding-left: 0px;
  padding-right: 3px;
  padding-top: 0px;
}

#colours {
  color: rgba(109, 93, 110, 1);
  color: rgba(79, 69, 87, 1);
  color: rgba(57, 54, 70, 1);
}
